:root {
  --bg: #00001f;
  --ta: #00003f;
  --it: #00005f;
  --hl: #00007f;
  --sl: #0000af;
  --tx: #7fff3f;

}

body {
  margin: 0;
  overflow: hidden;
  user-select: none;
}
#tool {
  padding: 20px;
  width: 100vw;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 18px;
  color: var(--tx);
  /* color: lime; */
  /* background-color: var(--bg); */
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#options {
  background-color: var(--ta);
  /* background-color: darkviolet; */
  border-radius: 13px;
  display: flex;
  padding: 3px;
}
.option {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--it);
  outline: var(--hl) solid 3px;
  /* outline: violet solid 3px; */
  cursor: pointer;
  transition: background-color 0.2s, outline 0.2s;
}
.dropdown {
  position: absolute;
  /* padding: 10px; */
  border-radius: 10px;
  transform: translateY(10px);
  background-color: var(--it);
  outline: var(--hl) solid 3px;
  /* height: 1%; */
  transition: height 0.5s;
  overflow: hidden;
  display: none;
  z-index: 10;
}
.dropdownItem {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.dropdownItem:hover {
  background-color: var(--hl);
}
/* .dropdown:hover {
  height: fit-content;
} */
#logo {
  outline-color: transparent;
  /* outline-width: 0px; */
  background-color: var(--ta);
}
.option:hover, .option:focus {
  outline-color: transparent;
  background-color: var(--hl);
  /* background-color: violet; */
}
/* #logo:hover {
  background-color: var(--hl);
} */
#tabs {
  margin-top: 10px;
  background-color: var(--ta);
  /* background-color: darkred; */
  border-radius: 13px 13px 0 0;
  padding: 3px;
  display: flex;
  color: var(--tx);
  /* color: white; */
}
.tab {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  background-color: var(--it);
  outline: var(--hl) solid 3px;
  /* outline: red solid 3px; */
  cursor: pointer;
  transition: background-color 0.2s;
}
.tab:hover, .tab:focus {
  background-color: var(--hl);
  /* background-color: red; */
}
.content {
  background-color: var(--bg);
  /* background-color: darkblue; */
  flex-grow: 1;
  min-height: 100px;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  display: none;
  position: relative;
}
/*sprite*/
#Sprites {
  display: flex;
  padding: 0;
  flex-direction: row;
}
#SprToolbar {
  /* position:relative;
  bottom: 0;
  left: 0;
  right: 0; */
  /* width: 100%; */
  /* border-radius: 0 0 15px 15px; */
  background-color: var(--ta);
  /* padding: 10px; */
  display: flex;
}
.sprTool {
  margin: 10px;
  margin-right: 3px;
  font-size: 25px;
  padding: 10px;
  outline: var(--hl) solid 3px;
  background-color: var(--it);
  border-radius: 5px;
  aspect-ratio: 1/1;
  transition: background-color 0.2s, outline-color 0.2s;
  cursor: pointer;
}
.sprTool:hover, .sprTool:focus {
  background-color: var(--hl);
}
#sprList {
  width: 100px;
  min-height: 100px;
  background-color: var(--it);
  border-radius: 0 0 0 15px;
}
#sprColorList {
  width: 100px;
  min-height: 100px;
  background-color: var(--it);
  border-radius: 0 0 15px 0;
  overflow-y: scroll;
}
#sprColorList::-webkit-scrollbar {
  display: none;
}
#sprEditor {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex-grow: 1;
  overflow: hidden;
}
#spriteCanvas {
  /* width: 100px;
  min-height: 100px; */
  flex-grow: 1;
}
.SprColor {
  margin: 15px;
  aspect-ratio: 2/1;
  outline: black solid 3px;
  border-radius: 50px;
  transition: outline-color 0.2s;
  margin: 10px;
  margin-bottom: 3px;
  cursor: pointer;
}
.SprColor:hover, .SprColor:focus {
  outline-color: white;
}
#addColor {
  text-align: center;
  justify-content: center;
}
.contextMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--ta);
  border-radius: 10px;
}
.contextButton {
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  transition: background-color 0.2s;
}
.contextButton:hover, .contextButton:focus {
  background-color: var(--hl);
}
/*scripts*/
#Scripts {
  padding: 0;
  display: block;
  /* overflow: hidden; */
}
#codeToolbar {
  background-color: var(--it);
  display: flex;
  justify-content: flex-end;
}
.codeButton {
  padding: 10px;
  margin: 10px;
  outline: var(--hl) solid 3px;
  background-color: var(--ta);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.2s, outline-color 0.2s;
}
.codeButton:hover, .codeButton:focus {
  background-color: var(--hl);
}
/*play*/
#Play {
  display: block;
  overflow: hidden;
  padding: 0;
}
#Play iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
#Play canvas {
  width: 100%;
  height: 100%;
}