:root {
  --bg: #00001f;
  --ta: #00003f;
  --it: #00005f;
  --hl: #00007f;
  --sl: #0000af;
  --tx: #7fff3f;

}

body {
  margin: 0;
  overflow: hidden;
  user-select: none;
}
#tool {
  padding: 20px;
  width: 100vw;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 18px;
  color: var(--tx);
  /* color: lime; */
  /* background-color: var(--bg); */
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#options {
  background-color: var(--ta);
  /* background-color: darkviolet; */
  border-radius: 13px;
  display: flex;
  padding: 3px;
}
.option {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--it);
  outline: var(--hl) solid 3px;
  /* outline: violet solid 3px; */
  cursor: pointer;
  transition: background-color 0.2s, outline 0.2s;
}
#logo {
  outline-color: transparent;
  /* outline-width: 0px; */
  background-color: var(--ta);
}
.option:hover {
  outline-color: transparent;
  background-color: var(--hl);
  /* background-color: violet; */
}
#logo:hover {
  background-color: var(--hl);
}
#tabs {
  margin-top: 10px;
  background-color: var(--ta);
  /* background-color: darkred; */
  border-radius: 13px 13px 0 0;
  padding: 3px;
  display: flex;
  color: var(--tx);
  /* color: white; */
}
.tab {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  background-color: var(--it);
  outline: var(--hl) solid 3px;
  /* outline: red solid 3px; */
  cursor: pointer;
  transition: background-color 0.2s;
}
.tab:hover {
  background-color: var(--hl);
  /* background-color: red; */
}
.content {
  background-color: var(--bg);
  /* background-color: darkblue; */
  flex-grow: 1;
  min-height: 100px;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  display: none;
  position: relative;
}
/*sprite*/
#Sprites {
  display: flex;
  padding: 0;
  flex-direction: row;
}
#SprToolbar {
  /* position:relative;
  bottom: 0;
  left: 0;
  right: 0; */
  /* width: 100%; */
  /* border-radius: 0 0 15px 15px; */
  background-color: var(--ta);
  /* padding: 10px; */
  display: flex;
}
.tool {
  margin: 10px;
  margin-right: 5px;
  font-size: 25px;
  padding: 10px;
  outline: var(--hl) solid 3px;
  background-color: var(--it);
  border-radius: 5px;
  aspect-ratio: 1/1;
  transition: background-color 0.2s;
  cursor: pointer;
}
.tool:hover {
  background-color: var(--hl);
}
#sprList {
  width: 100px;
  min-height: 100px;
  background-color: var(--it);
  border-radius: 0 0 0 15px;
}
#colorList {
  width: 100px;
  min-height: 100px;
  background-color: var(--it);
  border-radius: 0 0 15px 0;
}
#sprEditor {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex-grow: 1;
  overflow: hidden;
}
#spriteCanvas {
  /* width: 100px;
  min-height: 100px; */
  flex-grow: 1;
}
.color {
  margin: 15px;
  aspect-ratio: 2/1;
  outline: black solid 3px;
  border-radius: 50px;
  transition: outline-color 0.2s;
}
.color:hover {
  outline-color: white;
}